body{
    background-color: whitesmoke;
}

.container-full{
    background-color: white;
}

.container-full a:hover{
    background-color: slateblue;
    color: white;
}

.container-sm.container-md.p-3.my-4{
    background-color: white;
}

.container-sm.container-md.p-3{
    background-color: white;
}

#identity{
    font-weight: bold;
}

form label{
    font-weight: bold;
}

form .mb-3 .btn.btn-success{
    width: 100%;
    border: 0.75px solid;
}